
<launch>
  <arg name="debug"               default="false"/>
  <arg name="bag_filename" default="$(env HOME)/bags/campusrover_bag/20200524_odom_1.bag"/>

  <group if="$(arg debug)">

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.rviz" />

    <param name="use_sim_time" value="true" />
    <node name="playbag" pkg="rosbag" type="play"
            args="--clock $(arg bag_filename)" />

    <param name="robot_description"
        textfile="$(find campusrover_description)/urdf/campusrover.urdf" />

    <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="robot_state_publisher" />

    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_node">
      <remap from="trajectory" to="trajectory" />
      <param name="target_frame_name" type="string" value="/map" />
      <param name="source_frame_name" type="string" value="/base_link" />
      <param name="trajectory_update_rate" value="10" />
      <param name="trajectory_publish_rate" value="10" />
    </node>

  </group>

  <include file="$(find hector_mapping)/launch/mapping_default.launch">
    <arg name="tf_map_scanmatch_transform_frame_name" value="scanmatcher_frame"/>
    <arg name="base_frame" value="base_link"/>
    <arg name="odom_frame" value="base_link"/>
    <arg name="pub_map_odom_transform" value="true"/>
    <arg name="scan_subscriber_queue_size" value="5"/>
    <arg name="scan_topic" value="scan"/>
    <arg name="map_size" value="2048"/>
  </include>


</launch>