
<launch>

  <arg name="camera_f" default="true"/>
  <arg name="camera_fl" default="false"/>
  <arg name="camera_fr" default="false"/>
  <arg name="camera_b" default="false"/>

  <arg name="camera_ped_fr" default="true"/>
  <arg name="camera_ped_rr" default="true"/>
  <arg name="camera_ped_fl" default="true"/>
  <arg name="camera_ped_rl" default="true"/>


  <group if="$(arg camera_fr)">
    <include file="$(find pev_sensors)/launch/sensors/web_camera.launch.xml">
      <arg name="calibration" value="false"/>
      <arg name="device" value="/dev/camRing_FR"/>
      <arg name="calibration_file" value="file://$(find pev_sensors)/config/camera_info.yaml"/>
      <arg name="frame_id" value="cam_ring_fr_link"/>
      <arg name="group_name" value="camRing_FR" />
    </include>
  </group>

  <group if="$(arg camera_f)">
    <include file="$(find pev_sensors)/launch/sensors/web_camera.launch.xml">
      <arg name="calibration" value="false"/>
      <arg name="device" value="/dev/camRing_F"/>
      <arg name="calibration_file" value="file://$(find pev_sensors)/config/camera_info/camRing_F/c930-640x480.yaml"/>
      <arg name="frame_id" value="cam_ring_f_link"/>
      <arg name="group_name" value="camRing_F" />
      <arg name="width" default="640" />
      <arg name="height" default="480" />
    </include>
  </group>

  <group if="$(arg camera_fl)">
    <include file="$(find pev_sensors)/launch/sensors/web_camera.launch.xml">
      <arg name="calibration" value="false"/>
      <arg name="device" value="/dev/camRing_FL"/>
      <arg name="calibration_file" value="file://$(find pev_sensors)/config/camera_info.yaml"/>
      <arg name="frame_id" value="cam_ring_fl_link"/>
      <arg name="group_name" value="camRing_FL" />
    </include>
  </group> 

  <group if="$(arg camera_b)">
    <include file="$(find pev_sensors)/launch/sensors/web_camera.launch.xml">
      <arg name="calibration" value="false"/>
      <arg name="device" value="/dev/camRing_B"/>
      <arg name="calibration_file" value="file://$(find pev_sensors)/config/camera_info.yaml"/>
      <arg name="frame_id" value="cam_ring_b_link"/>
      <arg name="group_name" value="camRing_B" />
    </include>
  </group> 
  <!-- PED camera -->
  <group if="$(arg camera_ped_fr)">
    <include file="$(find pev_sensors)/launch/sensors/web_camera.launch.xml">
      <arg name="calibration" value="false"/>
      <arg name="device" value="/dev/camPed_FR"/>
      <arg name="calibration_file" value="file://$(find pev_sensors)/config/camera_info/c920-640x480.yaml"/>
      <arg name="frame_id" value="cam_ped_fr_link"/>
      <arg name="group_name" value="camPed_FR" />
    </include>
  </group> 
  <group if="$(arg camera_ped_rr)">
    <include file="$(find pev_sensors)/launch/sensors/web_camera.launch.xml">
      <arg name="calibration" value="false"/>
      <arg name="device" value="/dev/camPed_RR"/>
      <arg name="calibration_file" value="file://$(find pev_sensors)/config/camera_info/c920-640x480.yaml"/>
      <arg name="frame_id" value="cam_ped_rr_link"/>
      <arg name="group_name" value="camPed_RR" />
    </include>
  </group> 
  <group if="$(arg camera_ped_fl)">
    <include file="$(find pev_sensors)/launch/sensors/web_camera.launch.xml">
      <arg name="calibration" value="false"/>
      <arg name="device" value="/dev/camPed_FL"/>
      <arg name="calibration_file" value="file://$(find pev_sensors)/config/camera_info/c920-640x480.yaml"/>
      <arg name="frame_id" value="cam_ped_fl_link"/>
      <arg name="group_name" value="camPed_FL" />
    </include>
  </group> 
  <group if="$(arg camera_ped_rl)">
    <include file="$(find pev_sensors)/launch/sensors/web_camera.launch.xml">
      <arg name="calibration" value="false"/>
      <arg name="device" value="/dev/camPed_RL"/>
      <arg name="calibration_file" value="file://$(find pev_sensors)/config/camera_info/c920-640x480.yaml"/>
      <arg name="frame_id" value="cam_ped_rl_link"/>
      <arg name="group_name" value="camPed_RL" />
    </include>
  </group> 

</launch>