<launch>
  <arg name="debug" default="false"/>
  <arg name="bag_file" default="$(env HOME)/bags/autolabor_bag/20200402_3f_1.bag"/>
  <arg name="map_file" default="$(find autolabor_map_server)/maps/map2d/20200402_3f.pbstream" />
  <arg name="pub_map" default="true" />
  <arg name="viz" default="true" />

  <group if="$(arg debug)">
    <param name="use_sim_time" value="true" />
    <node if="$(arg viz)" name="rviz" pkg="rviz" type="rviz" required="true"
        args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />

    <node name="playbag" pkg="rosbag" type="play"
        args="--clock $(arg bag_file)" />

    <param name="robot_description"
      textfile="$(find autolabor_description)/urdf/autolabor.urdf" />

    <node name="robot_state_publisher" pkg="robot_state_publisher"
      type="robot_state_publisher" />
    
    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_node">
      <remap from="trajectory" to="autolabor_odom" />
      <!-- <remap from="trajectory" to="path_loader" /> -->
      <param name="target_frame_name" type="string" value="odom" />
      <param name="source_frame_name" type="string" value="base_link" />
      <param name="trajectory_update_rate" value="10" />
      <param name="trajectory_publish_rate" value="10" />
    </node>

    <!-- <include file="$(find autolabor_odom)/launch/odom_publish.launch">
      <arg name="use_wheel" value="true"/>
      <arg name="debug"     value="false"/>
    </include> -->
  </group>

  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_local_map"
              args="352314.9307127929 2770482.044740471 0 0 0 0 /world /local_map" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_map"
              args="-7.250000476837158, -8.25, 0, 0, 0, 0, 0.9999999403953552 /local_map /map" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find autolabor_odom)/launch/cartographer_Oct_2017
          -configuration_basename revo_lds.lua
          -map_filename $(arg map_file)"
      >
      <remap from="scan" to="/scan" />
     
  </node>
    <!-- <remap from="odom" to="/wheel_odom" /> -->
    <!-- <remap from="imu" to="/xsens_imu_odom/imu/data" /> -->
  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

  <!-- <include file="$(find osm_cartography)/launch/viz_osm.launch">
    <arg name="url" value="package://autolabor_odom/osm/20200326_TaipeiTech.osm" />
  </include> -->

</launch>
