
<launch>
  <arg name="debug"               default="false"/>
  <arg name="bag_filename" default="$(env HOME)/bags/autolabor_bag/20200519enter_elevatoor_1.bag"/>

  <group if="$(arg debug)">

      <!-- rviz -->
      <node name="rviz" pkg="rviz" type="rviz" required="true"
        args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.rviz" />

      <param name="use_sim_time" value="true" />
      <node name="playbag" pkg="rosbag" type="play"
              args="--clock $(arg bag_filename)" />

      <param name="robot_description"
          textfile="$(find autolabor_description)/urdf/autolabor.urdf" />

      <node name="robot_state_publisher" pkg="robot_state_publisher"
          type="robot_state_publisher" />

  </group>

  <include file="$(find hector_mapping)/launch/mapping_default.launch">
    <arg name="tf_map_scanmatch_transform_frame_name" value="scanmatcher_frame"/>
    <arg name="base_frame" value="base_link"/>
    <arg name="odom_frame" value="base_link"/>
    <arg name="pub_map_odom_transform" value="true"/>
    <arg name="scan_subscriber_queue_size" value="5"/>
    <arg name="scan_topic" value="scan"/>
    <arg name="map_size" value="2048"/>
  </include>


</launch>