<launch>
  <arg name="bag_file" default="20200717_3f_1.bag" />
  <arg name="map_file" default="20200402_TT_3F.yaml" />
  <include file="$(find campusrover_odom)/launch/campusrover_3d_localization_ndt.launch">
    <arg name="debug" value="true" />
    <arg name="map_file" value="$(find campusrover_map_server)/maps/$(arg map_file)" />
    <arg name="bag_file" value="$(env HOME)/bags/campusrover_bag/$(arg bag_file)" />
    <arg name="viz" value="false" />
  </include>

  <node pkg="campusrover_path" type="path_saver" name="path_saver_node" output="screen">
    <remap from="path_in" to="campusrover_odom" />
    <param name="file_path" type="str" value="$(find campusrover_path)/paths/" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find campusrover_path)/rviz/path_saver_3d.rviz" />

</launch>
