<?xml version='1.0'?>

<!-- urdf: unified robot description format -->

<robot name="campusrover">

  <!-- materials color description -->
  <!-- <xacro:include filename="$(find campusrover_description)/urdf/materials.xacro" /> -->

  <!-- Link Define -->
  <link name="base_link">
    <visual>
      <!-- rpy: roll, pitch, yaw ; xyz; x, y, z position -->
      <origin rpy="1.57075 0 3.1415" xyz="0.2 -0.725 0"/>
      <!-- describe robot's appearance -->
      <geometry>
        <mesh filename="package://campusrover_description/meshes/body.dae" />
      </geometry>
    </visual>
  </link>

  <link name="velodyne_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <cylinder length="0.038" radius="0.052" />
      </geometry>
    </visual>
  </link>

  <link name="velodyne">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <cylinder length="0.038" radius="0.052" />
      </geometry>
      <material name="green"/>
    </visual>
  </link>

  <link name="ydlidar_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <cylinder length="0.01" radius="0.01" />
      </geometry>
      <!-- <material name="gray" /> -->
    </visual>
  </link>

  <link name="xsens_imu_odom_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.035 0.035 0.015" />
      </geometry>
      <material name="black" />
    </visual>
  </link>

  <link name="wit_imu_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.035 0.035 0.015" />
      </geometry>
      <material name="black" />
    </visual>
  </link>

  <link name="right_camera_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.035 0.035 0.015" />
      </geometry>
      <material name="black" />
    </visual>
  </link>

  <link name="link_0">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.02 0.02 0.01" />
      </geometry>
      <material name="black" />
    </visual>
  </link>

  <joint name="wit_imu_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="wit_imu_link" />
    <origin xyz="-0.232 0 1.240" rpy="0 0 0" />
  </joint>

  <joint name="xsens_imu_odom_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="xsens_imu_odom_link" />
    <origin xyz="-0.232 0 0.765" rpy="0 0 0" />
  </joint>

  <joint name="velodyne_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="velodyne_link" />
    <origin xyz="-0.232 0 1.329" rpy="0 0 -0.03" />
  </joint>

  <joint name="velodyne_joint" type="fixed">
    <parent link="base_link" />
    <child link="velodyne" />
    <origin xyz="-0.232 0 1.329" rpy="0 0 -0.03" />
  </joint>

  <joint name="ydlidar_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="ydlidar_link" />
    <origin xyz="0.12 0 0.288" rpy="0 0 0" />
  </joint>

  <joint name="right_camera_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="right_camera_link" />
    <origin xyz="-0.23 -0.07 1.16" rpy="0 0 0" />
  </joint>

  <joint name="link_0_joint" type="fixed">
    <parent link="base_link" />
    <child link="link_0" />
    <origin xyz="-0.08 -0.165 1.14" rpy="0 0 0" />
  </joint>




</robot>
