<?xml version="1.0"?>
<launch>

    <node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam file="$(find campusrover_dynamixel)/config/dynamixel_manager.yaml" command="load" />
    </node>

    <!-- Load controller configuration to parameter server -->
    
    <rosparam file="$(find campusrover_dynamixel)/config/dynamixel_controllers.yaml" command="load" />
    
    <!-- start specified joint controllers -->
    
    <node name="dynamixel_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=dxl_manager
            --port pan_tilt_port
            joint_1
            joint_2
            joint_3
            joint_4
            "
        output="screen"/>
    <node name="dynamixel_controller_spawner2" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
          --type=meta
          arm_controller
          joint_1
          joint_2
          joint_3
          joint_4
          "
          output="screen"/>

    <!-- Start the Dynamixel Joint States Publisher -->

	<node name="dynamixel_joint_states_publisher" pkg="campusrover_dynamixel" type="dynamixel_joint_state_publisher.py" output="screen" >
		<param name="rate" value="15"/>
	</node>

</launch>