<launch>
  <arg name="bag_filename" default="$(env HOME)/bags/campusrover_bag/20200519enter_elevatoor_3.bag"/>
  <arg name="viz" default="true" />
  <arg name="geotiff_map_file_path" default="$(find campusrover_map_server)/maps"/>

    <param name="use_sim_time" value="true" />
    <node if="$(arg viz)" name="rviz" pkg="rviz" type="rviz" required="true"
        args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.rviz" />

    <node name="playbag" pkg="rosbag" type="play"
        args="--clock $(arg bag_filename)" />

    <param name="robot_description"
        textfile="$(find campusrover_description)/urdf/campusrover.urdf" />

    <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="robot_state_publisher" />

  <include file="$(find hector_mapping)/launch/mapping_default.launch">
    <arg name="tf_map_scanmatch_transform_frame_name" value="scanmatcher_frame"/>
    <arg name="base_frame" value="base_link"/>
    <arg name="odom_frame" value="base_link"/>
    <arg name="pub_map_odom_transform" value="true"/>
    <arg name="scan_subscriber_queue_size" value="5"/>
    <arg name="scan_topic" value="scan"/>
    <arg name="map_size" value="2048"/>
    <arg name="map_resolution" value="0.05"/>
    <arg name="map_update_angle_thresh" value="0.5"/>
    <arg name="map_update_distance_thresh" value="0.2"/>
    <arg name="laser_z_min_value" value="-1.0"/>
    <arg name="laser_z_max_value" value="1.5"/>
    
  </include>

  <!-- <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
  </include> -->

</launch>