<launch>
  <arg name="debug" default="true" />
  <arg name="bag_file" default="20180824medialab_yard_3.bag" />
  <arg name="config_file" default="$(find pev_status_checker)/maps/cooper_hewitt.yaml" />

  <!-- bag play -->
  <group if="$(arg debug)">
    <node pkg="rosbag" type="play" name="rosbag_play_node"
        args="$(env HOME)/bags/pev_bag/$(arg bag_file) --clock" >
    </node>
    <param name="use_sim_time" value="true" />
  </group>

  <!-- Static transtorm -->
  <param name="robot_description"
    textfile="$(find pev_description)/urdf/pev.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <node name="pev_pcd_tf_finder" pkg="pev_map_server" 
        type="pev_pcd_tf_finder" output="screen">
  </node>

  <node pkg="pev_map_server" type="pcd_map_loader" name="pcd_map_loader_node" output="screen">
    <param name="config_file" type="str" value="$(arg config_file)" />]
  </node>

  <node pkg="rviz" type="rviz" name="rviz" 
        args="-d $(find pev_map_server)/rviz/pev_pcd_tf_finder.rviz" />
</launch>