<!-- -*- mode: XML -*- -->

<launch>

  <arg name="file_name"/>

  <node pkg="rosbag" name="record" type="record" output="screen"
        args="-O $(env HOME)/bags/campusrover_bag/$(arg file_name) 
        /encoder_data
        /scan
        /velodyne_points
        /xsens_imu_odom/imu/data
        /xsens_imu_odom/imu/mag
        /xsens_imu_odom/imu_data_str
        /xsens_imu_odom/time_reference
        /xsens_imu_odom/velocity
        /camera/color/camera_info
        /camera/color/image_raw
        /camera/aligned_depth_to_color/image_raw

        " />

</launch>
