<launch>

  <!-- Common sensors -->
  <include file="$(find campusrover_sensors)/launch/sensors/ydlidar_g6.launch.xml" />
  <include file="$(find campusrover_sensors)/launch/sensors/velodyne_VLP16.launch.xml" />
  <!-- <include file="$(find campusrover_sensors)/launch/sensors/xsens_imu_odom.launch.xml" /> -->

  <!-- joy -->
  <!-- <include file="$(find campusrover_sensors)/launch/sensors/joy.launch.xml" /> -->

  <!-- Static transform -->
  <include file="$(find campusrover_sensors)/launch/static_transform.launch" />

</launch>
