<launch>
  <arg name="debug" default="false" />
  <arg name="route" default="$(env HOME)/osrm/TaipeiTech/20200317_TaipeiTech.osrm" />
  <arg name="map_file" default="$(find autolabor_map_server)/maps/20200320_taipeitech.yaml" />
  <!-- test with -->
  <!-- http://localhost:5000/route/v1/driving/121.5335257,25.031712618;121.5338070318,25.0334311177 -->
  <!-- Taipei Tech test with -->
  <!-- http://localhost:5000/route/v1/driving/121.535422,25.042380;121.533040,25.043610 -->
  

  <group if="$(arg debug)">

    <node pkg="autolabor_map_server" type="pcd_map_loader" name="pcd_map_loader_node" output="screen">
      <param name="config_file" type="str" value="$(arg map_file)" />
      <remap from="map_cloud" to="points_map" />
    </node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_earth_broadcaster"
          args="0 0 0 0 0 0 world earth" />

    <include file="$(find osm_cartography)/launch/viz_osm.launch">
      <arg name="url" value="package://autolabor_odom/osm/20200317_TaipeiTech.osm" />
    </include>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find autolabor_routing)/rviz/osrm.rviz" />

  </group>

  <node pkg="autolabor_routing" type="osrm_routing" name="osrm_route_node" output="screen">
    <param name="osrm_file" type="str" value="$(arg route)" />
    <param name="path_frame_id" type="str" value="map" />
    <param name="route_resolution" type="double" value="0.1" />
    
  </node>

</launch>
