<launch>
    <node name="campusrover_driver" pkg="campusrover_driver" type="campusrover_driver" output="screen">
      <remap from="/cmd_vel" to="/output/cmd_vel" />
      <param name="port_name" value="/dev/campusrover_driver" />
      <param name="odom_frame" value="odom" />
      <param name="base_frame" value="base_link" />

      <param name="pub_wheel_odom" value="false" />
      <param name="pub_wheel_odom_tf" value="false" />

      <param name="baud_rate" value="115200" />
      <param name="control_rate" value="10" />
      <param name="sensor_rate" value="5" />

      <param name="reduction_ratio" value="1.0" />
      <param name="encoder_resolution" value="1600.0" />

      <param name="wheel_diameter" value="0.25" />
      <param name="model_param_cw" value="0.62" />
      <param name="model_param_acw" value="0.62" />
      <param name="pid_rate" value="50.0" />
      <param name="maximum_encoding" value="32.0" />
    </node>
</launch>
